#hero {
	height: 600px;
	color: honeydew;
	align-items: center;

	.hero-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1.2rem;
		text-align: center;
		height: 500px;
		.typist {
			width: 100%;
			.header {
				font-size: 3.5em;
				margin-bottom: 2rem;
				letter-spacing: 2px;
			}
			
		}
		.resume-btn{
			color: rgba(255, 255, 255, 0.659);
				border: 1px solid rgba(221, 221, 221, 0.952);
				background-color: transparent;
				padding: 0.7rem 2rem;
				font-size: 16px;
				transition: all 0.2s ease-in-out;
				&:hover {
					filter: brightness(1.5);
					border: 1px solid rgba(0, 255, 234, 0.904);
					color: aqua;
				}
		}

		@media screen and (max-width: 768px) {
			height: 600px;
			.typist {
				.header {
					font-size: 3.5rem;
				}
			}
		}
	}
}
